#Fill these out to gain access to Reddit's API.
username = "?????"
password = "?????"
client_id = "?????"
client_secret = "?????"

#Define the directory path you want to download your images
file_path = 'images'
